html {
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #F7F7F7;
    max-width: 900px;
    display: grid;
    grid-template-areas: "video-destaque propaganda"
                         "video-destaque proximo-conteudo";

    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
    padding: 38px 35px;
}

.video-destaque img {
    grid-area: video-destaque;
    width: 100%;
}

.propaganda {
    grid-area: propaganda;
}

.proximo-conteudo {
    grid-area: proximo-conteudo;
}

.proximo-conteudo .lista-videos {
    display: flex;
    gap: 5px;
    margin-bottom: 16px;
}

.proximo-conteudo .lista-videos div .titulo{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
}

.proximo-conteudo .lista-videos div .descricao{
    font-size: 11px;
    font-weight: 300;
}

.video-destaque .titulo {
    font-size: 17px;
    font-weight: 700;
    margin-top: 12px;
}

.video-destaque .visualizacoes {
    font-size: 14px;
    font-weight: 300;
    margin-top: 7px;
}

.video-destaque p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 9px;
    padding-right: 22px;
}